@model IEnumerable<ProjectE.Models.WorkSheet>
@*@model ProjectE.Models.ViewModels.DeviceViewModel*@

@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>


<h2>Karty Pracy</h2>
<p>
    @Html.ActionLink("Create New", "WorkSheetCreate")
</p>

<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Device.Installation.ShortcutName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Device.ShortcutName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Device.DeviceModel.Name)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                @Html.DisplayFor(modelItem => item.Device.Installation.ShortcutName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Device.ShortcutName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Device.DeviceModel.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "WorkSheetEdit", new { id = item.WorkSheetId }) |
                    @Html.ActionLink("Details", "WorkSheetDetails", new { id = item.WorkSheetId }) |
                    @Html.ActionLink("Delete", "WorkSheetDelete", new { id = item.WorkSheetId })
                </td>
            </tr>
        }

    </table>
