@model ProjectE.Models.ViewModels.ReportViewModel

@{
    ViewBag.Title = "Report";
}

<h2>Report</h2>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.WorkSheetId)

    <ul class="nav nav-pills">
        <li class="active"><a data-toggle="pill" href="#deviceMenu">Urządzenie</a></li>
        <li><a data-toggle="pill" href="#batteryMenu">Bateria</a></li>
    </ul>

    <div class="tab-content col-xs-12">
        <div id="deviceMenu" class="tab-pane fade in active">
            <p>
                <div class="col-xs-12">
                    @Html.LabelFor(model => model.Installation, "Nazwa urządzenia", htmlAttributes: new { @class = "control-label col-md-5" })
                    @Html.DisplayFor(model => model.Installation)-@Html.DisplayFor(model => model.ShortcutName)
                </div>
                <div class="col-xs-12">
                    @Html.LabelFor(model => model.WorkReason, "Powód pracy", htmlAttributes: new { @class = "control-label col-md-5" })
                    @Html.DropDownListFor(m => m.WorkReason, Model.WorkReason, new { @class = "form-control" })
                </div>
                <div class="col-xs-6" >
                    <h4>Próby funkcjonalne</h4>
                    <div align="right">
                        Sprawdzić procedury startu i zatrzymania UPS @Html.CheckBoxFor(m=>m.StartStop, new { htmlAttributes = new { @class = "form-control pull-right" } })
                    </div>
                    <div align="right">
                        Sprawdzić obecność odpowiednich zapisów w rejestrze @Html.CheckBoxFor(m=>m.RegisterEntries)
                    </div>
                    <div align="right">
                        Zanik podstawowego zasilania lub wyłączenie prostownika @Html.CheckBoxFor(m=>m.PrimarySupplyOff)
                    </div>
                    <div align="right">
                        Powrót zasilania podstawowego @Html.CheckBoxFor(m=>m.PrimarySupplyBack)
                    </div>
                    <div align="right">
                        Przejście na bypass @Html.CheckBoxFor(m=>m.BypassSwitch)
                    </div>
                    <div align="right">
                        Próby zwarciowe @Html.CheckBoxFor(m=>m.ShortCircuitTest)
                    </div>
                    <div align="right">
                        Gwałtowne zmiany obciążenia @Html.CheckBoxFor(m=>m.RapidLoadChanges)
                    </div>
                    <div align="right">
                        Sprawdzenie sygnalizacji do systemów nadrzędnych @Html.CheckBoxFor(m=>m.SignallingCheck)
                    </div>
                    <div align="right">
                        Czy układ działa poprawnie @Html.CheckBoxFor(m=>m.WorkCorrect)
                    </div>
                </div>
                <div class="col-xs-12">
                    <h4>Godziny pracy</h4>
                    @Html.TextBoxFor(model => model.WorkTimeDay,new { @type = "date", @Value = Model.WorkTimeDay.ToString("yyyy-MM-dd") }) Od @Html.TextBoxFor(model => model.WorkTimeFrom, new { @type = "time", @Value = Model.WorkTimeDay.ToString("08:30") }) Do @Html.TextBoxFor(model => model.WorkTimeTo, new { @type = "time", @Value = Model.WorkTimeDay.ToString("13:30") })
                </div>
                <div class="col-xs-6" align="right">
                    <div>
                        Uwagi @Html.TextBoxFor(m => m.Comment,new { @size="100"})
                    </div>
                    <div>
                        Uszkodzenia @Html.TextBoxFor(m=>m.Damage,new { @size="100"})
                    </div>
                    <div>
                        Wymienione części @Html.TextBoxFor(m=>m.ReplacedPart,new { @size="100"})
                    </div>
                    <div>
                        <b>Wynik końcowy</b> @Html.TextBoxFor(m=>m.FinalResult,new { @size="100"})
                    </div>
                </div>
                <div class="col-xs-12">
                    <div>
                        Przegląd urządzenia @Html.TextBoxFor(m => m.LastReviewDate, new { @type = "date", @Value = Model.LastReviewDate.ToString("yyyy-MM-dd") })
                    </div>
                    <div>
                        Próby funkcjonalne @Html.TextBoxFor(m => m.LastFunctionalTest, new { @type = "date", @Value = Model.LastFunctionalTest.ToString("yyyy-MM-dd") })
                    </div>
                </div>
                <div class="col-xs-12">
                    <h4>Parametry elektryczne</h4>
                    Obciążenie @Html.TextBoxFor(m=>m.Load) %
                    Napięcie wyjściowe @Html.TextBoxFor(m=>m.OutputVoltage) V
                </div>
            </p>
        </div>
        <div id="batteryMenu" class="tab-pane fade">
            <h3>Bateria</h3>
            <p>
                <div>
                    @Html.LabelFor(model => model.Installation, "Nazwa baterii", htmlAttributes: new { @class = "control-label col-md-5" })
                    @Html.DisplayFor(model => model.Installation)-@Html.DisplayFor(model => model.ShortcutName)
                </div>
            </p>
        </div>
    </div>

    @*<ul class="nav nav-tabs">
            <li class="active">
                <a href="#">Urządzenie</a>
                <div>
                    @Html.LabelFor(model => model.WorkSheet.Device.Installation.ShortcutName, "Nazwa urządzenia", htmlAttributes: new { @class = "control-label col-md-5" })
                    @Html.DisplayFor(model => model.WorkSheet.Device.Installation.ShortcutName)-@Html.DisplayFor(model => model.WorkSheet.Device.ShortcutName)
                </div>
            </li>
            <li>
                <a href="#">Bateria</a>
                <div>
                    @Html.LabelFor(model => model.WorkSheet.Device.Installation.ShortcutName, "Nazwa urządzenia", htmlAttributes: new { @class = "control-label col-md-5" })
                    @Html.DisplayFor(model => model.WorkSheet.Device.Installation.ShortcutName)-@Html.DisplayFor(model => model.WorkSheet.Device.ShortcutName)
                </div>
            </li>
        </ul>*@

    @*<div class="col-xs-12">
            <div class="col-xs-12 row">
                <div class="col-xs-6" style="border: thin solid black">
                    <h3>Urządzenie</h3>
                    <div>
                        @Html.LabelFor(model => model.WorkSheet.Device.Installation.ShortcutName, "Nazwa urządzenia", htmlAttributes: new { @class = "control-label col-md-5" })
                        @Html.DisplayFor(model => model.WorkSheet.Device.Installation.ShortcutName)-@Html.DisplayFor(model => model.WorkSheet.Device.ShortcutName)
                    </div>
                </div>
            </div>
        </div>*@
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>