@*@model ProjectE.Models.ViewModels.DeviceListElement*@
@model IEnumerable<ProjectE.Models.ViewModels.DeviceListElement>

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<table id="DeviceList" class="table table-bordered table-condensed">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Installation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortcutName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeviceModel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Installation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShortcutName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeviceModel)
                </td>
                <td>@Html.ActionLink("Dodaj", "AddDevice", new { id = item.DeviceId })</td>
            </tr>
        }
    </tbody>
</table>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}