@model ProjectE.Models.Battery

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Battery</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BatterySpecies.Species)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BatterySpecies.Species)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Manufacturer.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manufacturer.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BatteryType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BatteryType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CellVoltage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CellVoltage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CellQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CellQuantity)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BatteryId }) |
    @Html.ActionLink("Back to List", "Batteries")
</p>
