@model ProjectE.Models.Device

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Battery</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ShortcutName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortcutName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SerialNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SerialNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrimarySupply)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrimarySupply)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecondarySupply)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecondarySupply)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductionYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductionYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssemblyDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssemblyDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastReviewDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastReviewDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Installation.ShortcutName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Installation.ShortcutName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BatteryPack.ShortcutName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BatteryPack.ShortcutName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Load.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Load.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OperatingMode.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OperatingMode.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeviceModel.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeviceModel.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "DeviceEdit", new { id = Model.DeviceId }) |
    @Html.ActionLink("Back to List", "Devices")
</p>
