@{
    ViewBag.Title = "Panel administracyjny";
}

<h2>Panel administracyjny</h2>

<div class="row">
    <div class="col-md-12">
        @Html.ActionLink("Typy akumulatorów", "BatterySpecies", null, new { @class = "btn btn-default", @style = "margin-bottom:15px" })
        @Html.ActionLink("Akumulatory", "Batteries", null, new { @class = "btn btn-default", @style = "margin-bottom:15px" })
        @Html.ActionLink("Baterie akumulatorów", "BatteryPacks", null, new { @class = "btn btn-default", @style = "margin-bottom:15px" })
    </div>
    <div>
        <br />
    </div>
    <div class="col-md-12">
        @Html.ActionLink("Producenci", "Manufacturers", null, new { @class = "btn btn-default", @style = "margin-bottom:15px" })
        @Html.ActionLink("Instalacje", "Installations", null, new { @class = "btn btn-default", @style = "margin-bottom:15px" })
        @Html.ActionLink("Odbiory", "Loads", null, new { @class = "btn btn-default", @style = "margin-bottom:15px" })
        @Html.ActionLink("Modele urządzeń", "DeviceModels", null, new { @class = "btn btn-default", @style = "margin-bottom:15px" })
        @Html.ActionLink("Typy urządzeń", "DeviceTypes", null, new { @class = "btn btn-default", @style = "margin-bottom:15px" })
        @Html.ActionLink("Urządzenia", "Devices", null, new { @class = "btn btn-default", @style = "margin-bottom:15px" })
        @Html.ActionLink("Tryby pracy", "OperatingModes", null, new { @class = "btn btn-default", @style = "margin-bottom:15px" })
        @Html.ActionLink("Typy narzędzi", "ToolTypes", null, new { @class = "btn btn-default", @style = "margin-bottom:15px" })
        @Html.ActionLink("Narzędzia", "Tools", null, new { @class = "btn btn-default", @style = "margin-bottom:15px" })
        @Html.ActionLink("Powody pracy", "WorkReasons", null, new { @class = "btn btn-default", @style = "margin-bottom:15px" })
    </div>
</div>
