@model IEnumerable<ProjectE.Models.OperatingMode>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "OperatingModeCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "OperatingModeEdit", new { id=item.OperatingModeId }) |
            @Html.ActionLink("Delete", "OperatingModeDelete", new { id=item.OperatingModeId })
        </td>
    </tr>
}

</table>
