@model IEnumerable<ProjectE.Models.ToolType>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "ToolTypeCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "ToolTypeEdit", new { id=item.ToolTypeId }) |
            @Html.ActionLink("Delete", "ToolTypeDelete", new { id=item.ToolTypeId })
        </td>
    </tr>
}

</table>
