@model ProjectE.Models.Tool

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tool</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SerialNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SerialNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Manufacturer.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manufacturer.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ToolType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToolType.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "ToolEdit", new { id = Model.ToolId }) |
    @Html.ActionLink("Back to List", "Tools")
</p>
